.title {
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.title:hover {
    color: #b1b1b1;
    transition: 0.3s;
  }
  
  .titleOpen {
    color: #9c9c9c;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }

.data {
    height: fit-content;
    width: 100%;
    margin-top: 50px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-left: 26%;
}

.open {
    animation-name: open;
    animation-duration: 0.6s;
    display: block;
    height: min-content;
    max-height: 55vh;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 5px;
  }
  
  .closed {
    animation-name: close;
    animation-duration: 0.6s;
    opacity: 0;
    height: 0;
    display: none;
  }

.header {
    width: 300px;
}

h4 {
    margin: 0 0 5px 0;
    cursor: pointer;
    color: rgb(80, 80, 80);
}

h4:active {
    color: rgb(158, 158, 158);
}

@keyframes open {
    from {
      height: 0;
      opacity: 0;
    }
    to {
      height: 55vh;
      opacity: 1;
    }
}

@keyframes close {
  from {
    height: 55vh;
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0;
  }
}
