.title {
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.row {
    max-height: 70vh;
    overflow: auto;
    margin-bottom: 5px;
}

.header {
    width: 300px;
}

h4 {
    margin: 0 0 5px 0;
    cursor: pointer;
    color: rgb(80, 80, 80);
}

h4:active {
    color: rgb(158, 158, 158);
}