body {
  /* overflow-y: hidden; */
}

.App {}

.flexbox {
  display: flex;
}

.wrapper_control {
  margin: 3% 0 0 15%;
  display: flex;
  flex-direction: column;
}

.img {
  margin: -120px 0 0px 40px;
}

.wrapper_cat {
  display: flex;
  flex-direction: column;
  margin: -80px 0 0 40%;
}

p {
  font-weight: 900;
  font-size: 17px;
  margin: 5px 0 0 0;
}

.control-bar {
  margin: 15px 0 0 26%;
}

.data {
  height: fit-content;
  width: 100%;
  margin-top: 50px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-left: 26%;
}

.convert_btn {
  margin-top: 10px;
}