
.App {
  width: 100vw;
  height: 100vh;
  background-image: url("/src/source/bg/bg1.jpg");
  background-size: cover;
  /* background-attachment: local; */
  overflow-x: hidden;
}

.img {
  margin: -120px 0 0px 40px;
}

