.App {
  width: 100vw;
  height: 100vh;
  background-image: url("/src/source/bg/bg1.jpg");
  background-size: cover;
  /* background-attachment: local; */
  overflow-x: hidden;
}

.imgDesktop {
  height: 100px;
  margin: 20px 0 0px 40px;
  /* width: 375px; */
}

.imgMob {
  width: 200px;
  margin: 10px calc(50% - 100px);
}

.title {
  position: absolute;
  margin-left: 45vw;
  margin-top: 20px;
  letter-spacing: 1px;
  font-size: 35px;
}

.titleMob {
  position: absolute;
  margin-left: calc(50vw - 90px);
  margin-top: 10px;
  letter-spacing: 1px;
  font-size: 35px;
}

.title_red {
  color: #ff0000;
}

.wrapperMob {
  margin-top: 0vh;
}


 @media (max-width: 772px) {
  .wrapperMob {
    margin-top: 0vh;
  }
}
/*
@media (max-width: 768px) {
  .img {
    margin: -20px 0 0px 40px;
    width: 175px;
    background-size: auto;
    background-attachment: local;
  }
} */