
.App {
  width: 100vw;
  height: 100vh;
  background-image: url("/src/source/bg/bg1.jpg");
  background-size: cover;
  /* background-attachment: local; */
  overflow-x: hidden;
}

.img {
  margin: -120px 0 0px 40px;
  /* width: 375px; */
}


@media (max-width: 1024px) {
  .img {
    margin: -70px 0 0px 40px;
    width: 275px;
  }
}

@media (max-width: 768px) {
  .img {
    margin: -20px 0 0px 40px;
    width: 175px;
    background-size:auto;
    background-attachment: local;
  }
}
