input {
    display: none;
}

.custom_file_upload {
    display: inline-block;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    background-color: rgb(192, 2, 151);
    color: #d5d5d5;
}

.custom_file_upload:hover {
    background-color: rgb(146, 7, 116);
    box-shadow: 0 0 10px white;
    transition: 0.5s;
}

.custom_file_upload:active {
    box-shadow: none;
}

.wrapper_control {
    margin: 0% 0 0 0%;
    display: flex;
    flex-direction: column;
}

.wrapper_cat {
    display: flex;
    flex-direction: column;
    margin: 80px 0 0 95%;
    width: 100%;
    height: fit-content;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

p {
    font-weight: 900;
    font-size: 17px;
    margin: 5px 0 0 0;
}

.data {
    height: fit-content;
    width: 100%;
    margin-top: 50px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-left: 26%;
}

.convert_btn {
    margin-top: 10px;
}

.wrapper {
    margin-top: -130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div {
    color: white;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}