.title {
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.titleNotFound {
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  color: red;
}

.titlecategory {
  cursor: pointer;
  font-weight: 500;
  margin-bottom: 5px;
  margin-left: 20px;
  display: block;
}

.titleCategoryNotFound {
  cursor: pointer;
  font-weight: 500;
  margin-bottom: 5px;
  margin-left: 20px;
  display: block;
  color: red;
}

.category {
  display: inline-block;
  margin-left: 20px;
}

.row {
  max-height: 50vh;
  overflow-y: scroll;
  margin-bottom: 5px;
}

h4 {
  margin: 0 0 5px 0;
  cursor: pointer;
  color: rgb(80, 80, 80);
}

h4:active {
  color: rgb(158, 158, 158);
}

h3 {
  font-size: 14px;
  display: inline;
  color: red;
}

input {
  display: none;
}

.custom-file-upload {
  border: 1px solid #4F5D6D;
  padding: 0 4px 0 4px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #f5f5f5;
  color: rgb(250, 91, 91);
}

.custom-file-upload:hover {
  background-color: #d5d5d5;
  box-shadow: 2px 2px 2px #4F5D6D;
}

.custom-file-upload:active {
  background-color: #d5d5d5;
  box-shadow: none;
}

.flexbox {
  display: flex;
}

.wrapper_control {
  margin: 3% 0 0 15%;
  display: flex;
  flex-direction: column;
}

.img {
  margin: -120px 0 0px 40px;
}

.wrapper_cat {
  display: flex;
  flex-direction: column;
  margin: -80px 0 0 40%;
}

p {
  font-weight: 900;
  font-size: 17px;
  margin: 5px 0 0 0;
}

.control-bar {
  margin: 15px 0 0 26%;
}

.data {
  height: fit-content;
  width: 100%;
  margin-top: 50px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-left: 26%;
}

.convert_btn {
  margin-top: 10px;
}

/* .wrapper_cat {
    display: flex;
    justify-content: center;
    align-items: center;
  } */